/**
  css for et bibliotek med custom components for
  å manipulere databasen
**/


:root {
    --light-grad: linear-gradient(125deg, rgba(255,255,255,0), rgba(255,255,255,.16));
    --dark-grad: linear-gradient(125deg, rgba(0,0,0,0), rgba(0,0,0,.16));
  }
  
  
  #admin {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-areas:
      ". editor  view ."
      ".   .     view .";
  }

  #logo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 4px;
    left: 440px;
    background-image: url("../Bilder/KBAS-LOGO.png");
    background-size: cover;
    background-position: center;
    z-index: 100;
  }
  
  #wallpaper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-left: -8px;
    margin-top: 8px;
    background-image: url("../Bilder/Bank-Wallpaper.jpeg");
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  #admin > * {
      justify-self: center;
  }
  
  .table {
    width: 30em;
    grid-area: view;
  }
  
  #form {
      grid-area: editor;
  }
  
  home-bar {
     /* --grad: var(--light-grad); */
  }
  
  db-table {
    margin: 2em;
     --alternate: rgba(188, 208, 228, 0.555);
     --head: oldlace;
  }

  #total {
    --tsize: 150px;
  }

  .total {
    color:red;
  }
  
  @media screen and (max-width: 850px) {
      #username , #info { display:none; }
      #admin {
          grid-template-columns: 1fr;
          grid-template-areas:
          "editor"
          "view";
      }
    }


  #kundebilde {
    position: absolute;
  width: 100vw;
  height: 100vh;
  margin-left: -8px;
  margin-top: 8px;
  background-image: url("../Bilder/kundebilde.jpeg");
  background-position: center;
  background-size: cover;
  z-index: -1;
  }