/**
  css for et bibliotek med custom components for
  å manipulere databasen
**/



:root {
  --light-grad: linear-gradient(
    125deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.16)
  );
  --dark-grad: linear-gradient(125deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16));
}

#main {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: ". view .";
}

#main {
  position: relative;
  height: calc(80vh - 70px);
}

#main > * {
  justify-self: center;
}

#table {
  grid-area: view;
}

#form {
  grid-area: editor;
}

home-bar {
  /* --grad: var(--light-grad); */
}

db-table {
  width: 40em;
  --alternate: slategray;
  --head: bisque;
}

#login {
  border: solid gray 1px;
  background-color: rgb(170, 170, 170, 0.8);
  position: absolute;
  min-width: 22em;
  min-height: 8em;
  padding: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered {
  position: absolute;
  left: 460px;
  top: 100px;
  text-align: center;
  font-family: sans-serif;

}

#wallpaper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-left: -8px;
  margin-top: 8px;
  background-image: url("../Bilder/Bank-Wallpaper.jpeg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

#logohomebar {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 4px;
  left: 440px;
  background-image: url("../Bilder/KBAS-LOGO.png");
  background-size: cover;
  background-position: center;
  z-index: 100;
}


#logo {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 100px;
  right: 350px;
  background-image: url("../Bilder/KBAS-LOGO.png");
  background-size: cover;
  background-position: center;
  z-index: 5;
}

#index {
  position: absolute;
  width: 70vw;
  height: 500px;
  top: 200px;
}

#velkommen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-left: -8px;
  background-image: url("../../Bilder/Smiling-employe.jpg");
  background-position: center;
  background-size: cover;
  
}

#velkommen-text {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 200px;
  left: 200px;
  background-color: rgb(29, 29, 29, 0.6);
  color: white;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}

#velkommen-text > p > a {
  position: absolute;
  left: 80px;
  top: 150px;
  color: white;
  text-decoration: none;
  background-color: rgb(204, 35, 35);
  padding: 10px;
}

#velkommen-text > p > a:hover {
  animation: slide 1.5s alternate;
}

@keyframes slide {
  0% { left: 70px;
       top: 150px;
      }
  100% { left: 80px;
    top: 150px;
  }
}

#velkommen-text > p > a:visited {
  color: white;
  text-decoration: none;
}



#login div {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  grid-template-areas:
    "a . b"
    "c . d"
    ". e .";
  margin: 15px;
}

#sub {
  grid-area: e;
}

#login input.bad {
  box-shadow: red inset 0 0 2px;
}

main {
  width: calc(100vw - 200px);
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    " top top top "
    "left center right"
    " bot bot bot ";
}

@media screen and (max-width: 810px) {
  main {
    grid-template-areas:
      " top left"
      "center right"
      " bot bot";
  }
}
@media screen and (max-width: 650px) {
  main {
    grid-template-areas:
      " top"
      "left"
      "center"
      "right"
      "bot";
  }
}



